<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJM Classes</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="{% static 'classnotes_browser/style/homepage.css' %}" >
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.6.3/dist/showdown.min.js"></script>
</head>
<body>
    <div id="topbar">
        Welcome ! Here be interesting class notes.
    </div>
    <div id="content">
        <div id="button_grid">
            {% for row in subj_list %}
                <div class="button_row">
                    {% for subject in row %}
                        <a href="cours/{{ subject }}/">
                            <button class="subject_choice" onclick="">
                                {{subject}}
                            </button>
                        </a>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
