<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJM Classes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'classnotes_browser/style/homepage.css' %}" >
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.6.3/dist/showdown.min.js"></script>
</head>
<body>
    <div id="topbar">
        Welcome ! Here be interesting class notes.
    </div>
    <div id="content">
        <div id="button_grid">
            {% for row in subj_list %}
                <div class="button_row">
                    {% for subject in row %}
                        <button class="subject_choice" onclick="">
                            {{subject}}
                        </button>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>



<!--<p>-->
            <!--Testing markdown rendering:-->
        <!--</p>-->
        <!--<div id="md_output"></div>-->
<!--<script>-->
    <!--var output = $("#md_output")[0];-->
    <!--var renderer = new showdown.Converter();-->
    <!--$(document).ready(function () {-->
        <!--$.ajax({-->
            <!--url: "{% static 'classnotes_browser/md_src/render_test.md' %}",-->
            <!--success: function (data){-->
                <!--console.log(data);-->
                <!--output.innerHTML = renderer.makeHtml(data);-->
            <!--}-->
        <!--});-->
    <!--});-->
<!--</script>-->
<!--</html>-->
