<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <!-- script (render latex) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css"
          integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"
            integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"
            integrity="sha384-dq1/gEHSxPZQ7DdrM82ID4YVol9BYyU7GbWlIwnwyPzotpoc57wDw/guX8EaYGPx"
            crossorigin="anonymous"></script>
    <!-- style -->
    <link rel="stylesheet" href="{% static 'classnotes_browser/style/GitHub2.css' %}">
    <link rel="stylesheet" href="{% static 'classnotes_browser/style/md_custom_style.css' %}">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
</head>

<body>
    {{ md_in|safe }}

    <script>
        renderMathInElement(document.body);
    </script>
</body>

</html>