body {
  font-family: sans-serif;
}

#topbar {
  text-align: center;
  font-size: 36px;
  padding: 70px 0px 30px 0px;
  background: whitesmoke;
  border-radius: 10px;
}

#content {
  padding: 10px;
  margin-top: 10px;
  background: #cfd6da;
  font-size: 20px;
  text-align: center;
  clear: both;
}

#button_grid {
  box-sizing: border-box;
  margin-top: 30px;
}

.subject_choice {
  margin: 10px 20px;
  display: inline-block;
  background: #a5d676;
  border: none;
  font-size: 23px;
  padding: 10px 30px;
  border-radius: 7px;
}

a {
  text-decoration: none;
}
